{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} About Me{% endblock %}
<!--  -->
{% block tagline %}
<p>Just a girl who likes to draw manga (ㆁᴗㆁ✿)</p>
{% endblock %}
<!--  -->
{% block content %}

<img
  id="aboutMePic"
  src="{% static 'images/cjoy.PNG' %}"
  alt="Drawing of Joy leaning on the letter 'C' of the logo C Joy."
/>

<article>
  <p>Hello my lovelies~</p>
  <p>
    I'm just a girl that loves to draw manga! I am an illustrator that grew up
    on manga and I'll forever be influenced by Sailor Moon, Skip Beat, Nao
    Tsukiji, and classic manga like Glass Mask.
  </p>
  <p>
    This all started as a hobby, but as I started to focus more on manga and
    post things on Tumblr I realized there are people that really like my work.
    So this shop is a direct result of that. I hope you see some thing you like
    and join me on my journey!
  </p>
  <span> (((o(*ﾟ▽ﾟ*)o)))♡ </span>
  <p>-Candy Joy</p>
</article>
{% endblock content %}
