{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block style %} {% endblock style %}
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body>
    <header>
      <span class="icons">
        <a href="https://candy-fluffs.tumblr.com/">
          <i class="fab fa-tumblr"></i>
        </a>
        <a href="https://www.instagram.com/candy_fluffs/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/candy_fluffs">
          <i class="fab fa-twitter"></i>
        </a>
      </span>
      <span id="logoGroup"
        ><a href="{% url 'home' %}"
          ><img id="logo" src="{% static 'images/logo.png' %}" height="100px" />
        </a>
        <p id="tagline">{% block tagline %} {% endblock tagline %}</p></span
      >
      <span class="icons">
        <i class="fas fa-search"></i>
        <a href="{% url 'login' %}"><i class="fas fa-user"></i></a
        ><i class="fas fa-shopping-bag"></i
      ></span>
    </header>
    <nav>
      <ul>
        <li><a href="{% url 'products' %}">Books</a></li>
        <li><a href="{% url 'products' %}">Prints</a></li>
        <li><a href="{% url 'products' %}">Charms</a></li>
        <li><a href="{% url 'products' %}">Buttons</a></li>
        <li><a href="{% url 'products' %}">Necahuals</a></li>
        <li><a href="{% url 'products' %}">Stickers</a></li>
        <li><a href="{% url 'conventions' %}">Conventions/Expos</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="#">Contact</a></li>
      <div id="contactForm">
        <h2>Candy Fluffs Updates!</h2>
        <p>
          Sign up to get updates about new products and when I’ll be at anime
          conventions!
        </p>
        <form method="post" action=""></form>
        <small>We never share any information with 3rd parties.</small>
      </div>
    </footer>
  </body>
</html>
