{% extends 'base.html' %}{% load static %}
<!--  -->
{% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}" />
{% endblock style %}
<!--  -->
{% block title %} Candy Fluffs{% endblock %} {% block tagline %}
<p>Just a girl who likes to draw manga (ㆁᴗㆁ✿)</p>
{% endblock %}
<!--  -->
{% block content %}

<h1>Hi there. This is the home page!</h1>
<div id="banner">
  <img
    src="{% static 'images/nothing.png' %}"
    alt="This is the spot where a featured image would go"
  />
</div>

<!-- PRODUCT GRID -->
<div class="product_grid">
  {% for product in products %}
  <a href="{% url 'product_detail' product.id %}">
    <div class="product">
      <!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade -->
      <img
        class="product_image"
        src="{{ product.thumbnail.url }}"
        alt="testing yo"
      />
      <div class="overlay text">
        <h2>{{ product.title }}</h2>
        <h3>${{product.price }}</h3>
      </div>
    </div>
  </a>

  {% endfor %}
</div>
{% endblock content %}
