{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block style %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}" />
{% endblock style %}
<!--  -->
{% block title %} Candy Fluffs{% endblock %}
<!--  -->
{% block tagline %} Just a girl who likes to draw manga (ㆁᴗㆁ✿) {% endblock %}
<!--  -->
{% block content %}

<div id="bannerContainer">
  {% for banner in banners %}
  <img id="banner" src="{{ banner.featured.url }}" alt="testing yo" />
  {% endfor %}
</div>

<!-- PRODUCT GRID -->
<div class="product_grid">
  {% for product in products %}
  <a href="{% url 'product_detail' product.id %}">
    <div class="product">
      <!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade -->
      <img
        class="product_image"
        src="{{ product.thumbnail.url }}"
        alt="testing yo"
      />
      <div class="overlay text">
        <h2>{{ product.title }}</h2>
        <h3>${{product.price }}</h3>
      </div>
    </div>
  </a>

  {% endfor %}
</div>
{% endblock content %}
