{% extends 'base.html' %}
<!--  -->
{% load static %}

<!--  -->
{% block title %} Candy Fluffs{% endblock %} {% block tagline %}
<p>Just a girl who likes to draw manga (ㆁᴗㆁ✿)</p>
{% endblock %}
<!--  -->
{% block content %}

<h1>Hi there. This is the home page!</h1>
<div id="banner">
  <img
    src="{% static 'images/nothing.png' %}"
    alt="This is the spot where a featured image would go"
  />
</div>
<div class="products">
  {% for product in product_list %}
  <h2>
    <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
  </h2>
  <img src="{{ product.thumbnail.url }}" alt="testing yo" />

  {% endfor %}
</div>
{% endblock content %}
